
<% order_items.each do |item| %>
<tr>
  <td width="12%" class="cover">
    <% unless item[:product_id].nil? || item[:product_id].empty? %>
       <% if Product.find_by_id(item[:product_id]).galleries.select{ |v| v['type'] == "ProductPhotoGallery" }.count > 0 %>
          <%= image_tag Product.find_by_id(item[:product_id]).galleries.select{ |v| v['type'] == "ProductPhotoGallery" }.first.attachment.url %>
      <% end %>
    <% end %>
  </td>
  <td width="43%" class="name">
    <%= generate_product_link(item) %>
    
  </td>
  <td width="12%" align="center">$<%= item[:price_for_sale] > 0 ? item[:price_for_sale] : item[:price] %></td>
  <td width="12%" align="center"><%= label_tag :amount, item[:amount], :disabled => true %></td>
  <td width="12%" align="center">$<%= ( item[:price_for_sale] > 0 ? item[:price_for_sale] : item[:price] ) * item[:amount] %></td>
  <td width="9%" align="center" class="delete">
    <%= link_to delete_cart_path(item[:id]), :method => :delete do %>
      <img src="/images/ord-03.png">
    <% end %>
  </td>
</tr>

<% if Product.find(item[:product_id]) && Product.find(item[:product_id]).grindable == 1 %>
  <tbody class="detail">

    <% attributes = JSON.parse_if_json(cookies[:cart_cafe_attrs]) %>
    <% attributes.each do | attr | %> <!-- [ number , {...}] pairs -->
              <%# NEED REWRITE %>
      <% if attr[1]["stock_id"] ==  item[:id] %>
        <tr>
          <td>&nbsp;</td>
          <td class="name">
            <%= "不磨" unless attr[1]["needgrind"] == "true" %>
            <%= "研磨" if attr[1]["needgrind"] == "true" %>
            <%= attr[1]["grindlevel"] if attr[1]["needgrind"] == "true" %>
            <%# link_to "+", plus_cart_path(item[:id], attr[0]), :method => :post, :class => "plus" %>
                    
                    <%# link_to "刪除", delete_by_attribute_cart_path(item[:id], attr[0]), :method => :post, :class => "delete_by_attribute" , :data => {:confirm => "確定刪除？"} %>
          </td>
          <td>&nbsp;</td>
            
            <%# link_to "-", minus_cart_path(item[:id], attr[0]), :method => :post, :class => "minor" %>
                <td align="center">
                <%= attr[1]["amount"] %>
                <%# item[:name] %>
                </td>
            <%# item[:name] %>
            
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <%# NEED REWRITE %> 
        </tr>
      <% end %>

    <% end %>

  </tbody>
  <% end %>  

<% end %>
