<article class="container-fluid">
  <section class="container row">
    <div class="col-md-8 col-md-offset-2" >
      <ul id="step" class="hidden-xs">
        <li>購物步驟</li>
        <li>1. 明細確認</li>
        <li>2. 付款及運送資訊</li>
        <li>3. 最後確認</li>
      </ul>
      <div id="thx" class="text-center">
        <p><%= image_tag("/images/loading.gif") %> 連線中...<br>
        <br>
        <br>
        <br>
      </div>  <!--thx-->
    </div>
  </section>
</article>

<%= form_tag("https://acqtest.esunbank.com.tw/acq_online/online/sale42.htm", :id => "send_to_esun", style: "display:none;") do %>

<%= hidden_field_tag :MID, get_esun_MID %>

<%= hidden_field_tag :CID, "" %>

<%= hidden_field_tag :TID, "EC000001" %>

<%= hidden_field_tag :ONO, @order.ordernum %>

<%= hidden_field_tag :TA, ( @order_total = sum_order_items(@order.orderitems)+get_shipping_fee_from_order(@order)) %><br>

<%= hidden_field_tag :U, receive_result_cart_index_url %>

<%= hidden_field_tag :M, get_esun_key(@order.ordernum, @order_total) %>

<% end %>

<!-- <a id="sendrequest">send</a> -->
<script type="text/javascript">
$(document).ready(function(){
  
  $("#send_to_esun").submit();

  setTimeout(function() { window.location.href = '<%= "#{receive_result_cart_index_url}?ONO=#{@order.ordernum}&ERR=連線逾時" %>'; }, 15000);
});
</script>