<tr id="show_order_<%= order.id %>" style="display: none;">
  <td colspan="7">
    <table style="margin-bottom: 24px;" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="64%"><h4>商品名稱</h4></td>
        <td width="12%"><h4>單價</h4></td>
        <td width="12%"><h4>數量</h4></td>
        <td width="12%"><h4>訂單金額</h4></td>
      </tr>

      <% order.orderitems.each do |item| %>
      <tr>
        <td><%= "#{ item.item_name }（#{ item.item_stockname }）" %></td>
        <td><%= item.item_price %></td>
        <td><%= item.amount %></td>
        <td><%= item.item_price * item.amount %></td>
      </tr>
      <% end %>

      <tr>
        <th style="padding: 24px 0px; border-bottom: 1px solid; border-top: 1px dashed;" colspan="5" align="left">
          購物小計: <%= @sum = sum_order_items(order.orderitems) %><%# orders_helper %><br>
          運費小計: <%= @shipping_fee = get_shipping_fee  %><%# orders_helper %><br>
          訂單總計: <%= @sum + @shipping_fee %><%# orders_helper %>
        </th>
      </tr>
    </table>
  </td>
</tr>