<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="10%" align="left">訂單編號</th>
    <th width="20%" align="left">訂單時間</th>
    <th width="15%" align="center">付款方式</th>
    <th width="15%" align="center">訂單狀態</th>
    <th width="15%" align="center">收款狀態</th>
    <th width="15%" align="center">出貨狀態</th>
    <th width="10%" align="center">取消訂單</th>
  </tr>
    
  <% @orders.each do |order| %>
  <tr id="order_<%= order.id %>" >
    <td align="left">
      <%= link_to order.ordernum, admin_order_path(order), :class => "show_order close", :remote => true, :data => { order_id: order.id } %>
    </td>
    <td align="left"><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td align="center"><%= order.get_payment_type %></td>
    <td align="center"><%= order.get_payment_status %></td>
    <td align="center"><%= is_order_paid(order) %></td>
    <td align="center"><%= is_order_delivered(order) %></td>
    <td align="center"><%= link_to("取消訂單", "javascript:void(0);") %></td>
  </tr>
  <% end %>
  
</table>

<script type="text/javascript">
$(".show_order").click(function(){
  var $show_order = $("#show_order_" + $(this).data("order-id"))
  if( $show_order.length > 0 ){
    $show_order.stop().toggle();
    return false
  }
  else{
    return true;
  }
});
</script>