<link href="/css/talk.css" rel="stylesheet">

<% content_for :header do %>
  <div id="banner">
    <div class="container row">
      <div class="col-md-3 col-md-offset-8 col-sm-12">談咖啡</div>
    </div>
  </div>
<% end %>

<article class="container-fluid">
  <section class="row container" id="talk-list">
    <div class="col-md-10 col-md-offset-1 col-sm-12 row">
      <div id="left-content" class="col-sm-9">
        <% @talks.each do |talk| %>
          <div class="content">
            <div class="title">
              <h3><%= link_to talk.title, talk_path(talk) %></h3>
              <span>作者 cama 著 ‧ <%= talk.created_at.strftime("%Y/%m/%d")%></span> </div>
            <div class="cover"> 
              <% if talk.galleries.first %>
                <%= link_to talk_path(talk) do %>
                  <image src=<%= "#{talk.galleries.first.attachment.url}" %> class="img-responsive" /> 
                <% end %>
              <% end %>
            </div>
            <div class="text">
              <div class="tags">
              
                <% talk.camatalks.each do |tag| %>
                  <%= link_to tag.name , about_talks_path(URI.encode_www_form_component(tag.name))%><span>/</span>
                <% end %>
                
              </div>
              <article>
              <%# if talk.article %>
                <p>
                <%= talk.subtitle if talk.subtitle.present? %>
                <%# talk.article.get_meta.first(60).gsub(' ', '&nbsp;').html_safe if talk.article.get_meta.length > 0 %>
                </p>
              <%# end %>
              </article>
                <%= link_to "看更多", talk_path(talk), class: "more" %>
            </div>
          </div><!--content-->
        <% end %>

        <div class="page">
          <%= paginate @talks ,:window => 2, :theme => 'announcement_index' %>
        </div>
        <!--page--> 
      </div>
      <!--left-content-->
      <div id="right-tag" class="col-sm-3 col-sm-offset-0">
        <h5>cama 記事分類</h5>
        <% Talk.tag_counts_on(:camatalks).each do |tag| %>
          <%= link_to tag.name, about_talks_path(URI.encode_www_form_component(tag.name)) %>
        <% end %>
      </div>
      <!--right-tag--> 
    </div>
  </section>
</article>
