<div>
  <%= link_to "詳細內容", "../#{params[:product_id]}" %>
  <%= link_to "庫存管理", "javascript:void(0);" %>
</div>

<a href="javascript:void(0);" class="toggle_new_stock">新增庫存</a>

<% @stocks.each do |stock| %>
<% end %>

<table border="0" cellspacing="0" cellpadding="3">
  <% @stocks.each do |stock| %>
  <tr class="show_stock_<%= stock.id %>">
    <td>
      <%= stock.name %><%= show_stock_amount(stock) %><%# stocks_helper %>
    </td>
    <td>
      <%= link_to "編輯", "javascript:void(0);", :data => { :id => stock.id }, :class => "edit" %>
      <%= link_to "刪除", "stocks/#{stock.id}", :data => { :confirm => "將會刪除庫存，確定繼續？" }, :method => :delete, :class => "delete" %>
    </td>
  </tr>
  <tr class="edit_stock_<%= stock.id %>" style="display:none;">
    <%= form_for(stock, :url => "stocks/#{stock.id}" ) do |f| %>
    <td>
      <%= f.text_field(:name) %>
    </td>
    <td>
      <%= f.check_box :assign_amount, :id => "product_stock_assign_amount_#{stock.id}" %><%= f.label "assign_amount_#{stock.id}", "是否指定庫存量？" %>
    </td>
    <td>
      <%= f.text_field :amount, :placeholder => "庫存量" %>
    </td>
    <td>
      <%= f.submit "儲存" %>
      <%= link_to "取消", :data => { :id => stock.id }, :class => "cancel" %>
    </td>
    <% end %>
  </tr>
  <% end %>
  
  <tr class="list-new edit_stock" style="display:none;">
    <%= form_for(@stock, :url => "stocks") do |f| %>
    <td>
      <%= f.text_field :name, :placeholder => "庫存名稱" %>
      <%= f.check_box :assign_amount %><%= f.label :assign_amount, "是否指定庫存量？" %>
      <%= f.text_field :amount, :placeholder => "庫存量" %>
    </td>
    <td align="right">
      <%= f.submit "儲存" %>
      <%= link_to "取消", :class => "cancel" %>
    </td>
    <% end %>
  </tr>
</table>

<%= link_to("返回", admin_product_cate_path(params[:product_cate_id])) %>

<script type="text/javascript">
$(document).ready(function(){
  $(".toggle_new_stock").click(function(){
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      $(".list-new").toggle();
    }
  });

  $(".edit").click(function(){
    $active_id = $(this).data("id");
    if($("tr[class*=edit_stock]:visible").length > 0){
      alert("請先完成編輯中的產品庫存");
    }
    else{
      toggle_edit_area($active_id);
    }
  });

  $(".cancel").click(function(){
    $active_id = $(this).data("id");
    toggle_edit_area($active_id);
  });

  function toggle_edit_area(active_id){
    $("tr.edit_stock_" + active_id).toggle();
    $("tr.show_stock_" + active_id).toggle();
  }
});
</script>