<div>
  <%= link_to "詳細內容", "javascript:void(0);" %>
  <%= link_to "庫存管理", "#{params[:id]}/stocks" %>
</div>

<div>
  名稱：<%= @product.name %><br>
  價格：<%= @product.price %><br>
  折扣價：<%= @product.price_for_sale %><br>
  商品狀態：<%= @product.get_status %><br>
</div>

<%= link_to(get_change_status_name(@product), change_status_admin_product_cate_product_path(@product.product_cate, @product), :method => :post) %>
<%# products_helper %>

<%= link_to "返回", admin_product_cate_path(@product.product_cate) %>