<ul>
<% @product_cates.each do |product_cate| %>
<%# products_helper %>
<%= show_product_cate(@product_cate, product_cate) %>
<% end %>
</ul>

<div>
  名稱：<%= @product.name %><br>
  價格：<%= @product.price %><br>
  <%= show_price_for_sale(@product.price_for_sale) %>
  <%# products_helper %>
</div>

<%= render partial: "add_to_cart", :locals => { stocks: @product.product_stocks } %>