<p id="notice"><%= notice %></p>

<p>
  <strong>Attr1:</strong>
  <%= @test.attr1 %>
</p>

<p>
  <strong>Attr2:</strong>
  <%= @test.attr2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
