<!DOCTYPE html>
<html>
<head>
  <title>cama 後台管理系統</title>
  <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
  <![endif]-->
  <meta charset="utf-8">
  <meta name="Robots" content="index,follow"/>
  <meta http-equiv="content-language" content="zh-TW" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/admin/reset.css">
  <link rel="stylesheet" href="/css/admin/style.css">
  <link rel="stylesheet" href="/css/admin/custom.css">
  <script src="/js/global.js"></script>

  <script>
    window.onload= function() {
    <% if !flash[:notice].nil? %>
     alertify['success']('<%= flash[:notice] %>', 3000);
    <% end %>
    
    <% if !flash[:alert].nil? %>
    alertify['error']("<%= flash[:alert].html_safe %>", 3000); 
    <% end %>
  }
  </script>
<script>
jQuery(function($){
  $("a").focus(function(){
    $(this).blur();
  });
});
</script>
<script> 
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ 
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), 
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 

ga('create', 'UA-55276691-1', 'auto'); 
ga('send', 'pageview'); 

</script>
</head>
<body>
<section id="wrapper">
  
  <header _height="none">
    <h1>cama 後台管理系統</h1>
    <aside class="right"> <a href="<%= admin_product_cates_path %>" id="aside-1">index</a><%= link_to current_admin.name, 'javascript:void(0)', id: "aside-2" %><%= link_to 'Log out', destroy_admin_session_path, :method => :delete, id: "aside-3" %> </aside>
  </header>

  <article>
  <nav _height="auto" class="left">
    <ul>
      <% if @current_ability.can? :manage , ProductCate %>
      <li>
        <%= link_to image_tag('/images/admin/box.png')+"商品管理", admin_product_cates_path %>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , Order %>
      <li>
        <%= link_to image_tag('/images/admin/page.png')+"訂單管理", admin_orders_path %>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , Delivery %>
      <li>
        <%= link_to image_tag('/images/admin/truck.png')+"運送管理", admin_deliveries_path %>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , Orderask %>
      <li>
        <%= link_to image_tag('/images/admin/comments.png')+"客服管理", admin_orderasks_path %>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , User %>
      <li>
        <%= link_to image_tag('/images/admin/group.png')+"會員管理", admin_users_path %>
      </li>
      <% end %>
    </ul>
    
    <ul>
      <% if @current_ability.can? :manage , :all %>
      <li class="menu-box">
        <%= link_to image_tag('/images/admin/tv.png')+"首頁管理", "javascript:void(0);" %>
        <div class="menu">
          <%= link_to "主視覺輪播", admin_index_sliders_path %>
          <%= link_to "明星商品", admin_selected_products_path %>
          <%= link_to "線上徵才", admin_jobs_path %>
        </div>
      </li>
      <li class="menu-box">
        <%= link_to image_tag('/images/admin/shop.png')+"分店管理", "javascript:void(0);" %>
        <div class="menu">
          <%= link_to "標籤管理", admin_services_path %>
          <%= link_to "門市資訊", admin_stores_path %>
        </div>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , Announcement %>
      <li>
        <%= link_to image_tag('/images/admin/news.png')+"最新消息", admin_announcements_path %>
      </li>
      <% end %>
      <% if @current_ability.can? :manage , Talk %>
      <li>
        <%= link_to image_tag('/images/admin/coffee.png')+"談咖啡", admin_talks_path %>
      </li>    
      <% end %>
    </ul>

    <% if @current_ability.can? :manage , Admin %>
    <ul>
      <li>
        <%= link_to image_tag('/images/admin/manager.png')+"管理者", admin_admins_path %>
      </li>
    </ul>
    <% end %>
  </nav>

  <section id="content" _height="auto" class="left">
    <%= yield %>
  </section>

<%# link_to("自訂頁面", admin_customizedpages_path) %>

</body>
</html>
