<!DOCTYPE html>
<html>
<head>
  <title>Cama</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Cama Coffee</h1>
<p><%= link_to("admin", admin_root_path) %></p>
<p><%= link_to("產品頁", product_cates_path) %>|<%= link_to("購物車 #{ products_in_cart_count } 件", cart_index_path) %></p>

<%= yield %>

<script type="text/javascript">
$(document).ready(function(){
  if("<%= alert || notice %>"){
    alert("<%= alert || notice %>");
  }
});
</script>
</body>
</html>
